description: CCD User profile
name: ccd-user-profile-api
apiVersion: v2
home: https://github.com/hmcts/ccd-user-profile-api
version: 1.6.15
maintainers:
  - name: HMCTS CCD Dev Team
    email: ccd-devops@HMCTS.NET
dependencies:
  - name: java
    version: 5.2.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
