java:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  keyVaults:
    ccd:
      secrets:
      - AppInsightsInstrumentationKey
  environment:
    USER_PROFILE_DB_HOST: "{{ .Release.Name }}-postgresql"
    USER_PROFILE_DB_NAME: "{{ .Values.postgresql.postgresqlDatabase}}"
    USER_PROFILE_DB_USERNAME: "{{ .Values.postgresql.postgresqlUsername}}"
    USER_PROFILE_DB_PASSWORD: "{{ .Values.postgresql.postgresqlPassword}}"
    USER_PROFILE_DB_OPTIONS: "?stringtype=unspecified"
    ENABLE_DB_MIGRATE: true
  postgresql:
    enabled: true
